<h1>Editing Password #<%= @donator.id %></h1>

<form action="/donator_update_password">
  <div>
    <label for="old">old password</label><br />
    <input id="old" name="old" type="password" />
  </div>
  <div>
    <label for="new">new password</label><br />
    <input id="new" name="new" type="password" />
  </div>
  <div>
    <label for="renew">retype new password</label><br />
    <input id="renew" name="renew" type="password" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>


