<%if params[:id]%>
    <div class = "container">
      <h1>New news</h1>
      <b style="color:red"><%=session["errormessage"]%></b>
      <%session["errormessage"] = nil%>
      <form action="/create_news/<%=params[:id]%>" role="form" class="form-horizontal">
        <div class = "form-group">
          <div class="col-sm-12">
            <label for="title">title</label><br />
            <input id="title" name="title" type="text" />
          </div>
        </div>

        <div class = "form-group">
          <div class="col-sm-12">
            <label for="content">content</label><br />
            <textarea  name = "content" placeholder="content" style = "width:100%; height: 300px;border-radius: 3px;"></textarea>
          </div>
        </div>

        <div class = "form-group">
          <div class="col-sm-12">
            <input type="submit">
          </div>
        </div>
      </form>
    </div>
<%else%>
    <div class = "container">
      <h1>New news</h1>
      <b style="color:red"><%=session["errormessage"]%></b>
      <%session["errormessage"] = nil%>
      <form action="/create_news" role="form" class="form-horizontal">
        <div class = "form-group">
          <div class="col-sm-12">
            <label for="title">title</label><br />
            <input id="title" name="title" type="text" />
          </div>
        </div>

        <div class = "form-group">
          <div class="col-sm-12">
            <label for="content">content</label><br />
            <textarea  name = "content" placeholder="content" style = "width:100%; height: 300px;border-radius: 3px;"></textarea>
          </div>
        </div>

        <div class = "form-group">
          <div class="col-sm-12">
            <input type="submit">
          </div>
        </div>
      </form>
    </div>
<%end%>


