<h1>New News</h1>

<form action="/create_news">
  <div>
    <label for="title">title</label><br />
    <input id="title" name="title" type="text" />
  </div>
  <div>
    <label for="content">content</label><br />
    <input id="content" name="content" type="text" />
  </div>
  <div>
    <label for="child_id">child_id</label><br />
    <input id="child_id" name="child_id" type="text" />
  </div>
  <div>
    <label for="school_id">school_id</label><br />
    <input id="school_id" name="school_id" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

