<div class = "container">
<form action="/sign_in" role="form" class="form-horizontal">
  <div class = "form-group">
    <div class="col-sm-12">
      <input type = "text" placeholder="user name" name = "username">
      </div>
  </div>

  <div class = "form-group">
    <div class="col-sm-12">
    <input type = "password" placeholder="password" name = "password">
    </div>
    </div>
    <div class = "form-group">
      <div class="col-sm-12">
      <input type = "submit" value = "login">
        </div>

    </div>
</form>
</div>