<head>
  <style>
      .row{
          margin-top: 30px;
          margin-bottom: 30px;
      }
  </style>
</head>


<div class="container">
<h1 style="margin-bottom: 30px">sign up</h1>

<div class="btn-group-vertical" role="group" aria-label="...">
  <button type="button" class="btn btn-default" ><a href="/new_donator" style="color:black">sign up as a donator</a></button>

  <button type="button" class="btn btn-default"><a href="/new_school" style="color:black">sign up as a school</a></button>
</div>
</div>